#embryo {
    background-color: rgb(54, 54, 148);
    height: 150px;
}

#embryo .dropdown img {
    left: 30%
}

#embryo .dropdown .btn {
    background-color: rgb(54, 54, 148);
    border-style: none;

    margin-left: 60px;
}

.embryo img {
    margin-left: 250px;
    margin-top: 50px;
}


#embryo .dropdown .dropdown-menu span {
    padding-left: 10px;
}

#embryo .dropdown .dropdown-menu img {
    width: 30px;
    height: 30px;
    color: white;
}

#embryo .user {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

#embryo .user .shop-icon {
    width: 40px;
    height: 45px;
    border: 1px solid grey;
    position: absolute;
    right: 80px;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

#embryo .user sup {
    border-radius: 50%;
    font-size: 10px;
    padding: 4px;
    top: -15px;
    right: 5px;
    background-color: coral;
}

#embryo .user .shopping {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 8px;
}

#embryo .user .heart-icon {
    width: 40px;
    height: 45px;
    border: 1px solid grey;
    position: absolute;
    right: 40px;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

#embryo .user .heart {
    color: white;
    font-size: 20px;
    position: absolute;
    left: 8px;
    top: 10px;
}

#embryo .user .user-img {
    width: 40px;
    height: 45px;
    border: 1px solid grey;
    position: absolute;
    right: 0;
    border-left: none;
    border-top: none;
    border-bottom: none;

}

#head-site-area .user .heart {
    color: white;
    font-size: 20px;
    position: absolute;
    left: 8px;
    top: 10px;
}

#embryo .user .user-img {
    width: 40px;
    height: 45px;
    border: 1px solid grey;
    position: absolute;
    right: 0;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

#embryo .user img {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 430px;
}


.navbar {
    background-color: #4345b3;
    height: 70px;
    ;
}

.navigation {
    height: 40px;
    padding-left: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 30px;
    line-height: 40px;
    background: #4345b3;
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    background: coral;
    color: black;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 5px;
    content: " ";
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #3134d3;
    height: 40px;
    width: 40px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 40px 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }

    nav ul li ul li a {
        padding-left: 30px;
    }

    .nav-dropdown {
        position: static;
    }
}

@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: "";
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.img img {
    height: 400px;
    width: 102%;

    margin-left: -35px;
    padding-right: -10px;
    filter: brightness(0.5);

}

.text {
    position: absolute;
    padding-top: 90px;
    padding-left: 790px;
    color: white;

}

.about {
    background-color: black;
    display: flex;
    padding-top: 100px;


    h5 {
        color: white;


    }

    span {
        color: white;
        opacity: 0.8;
        font-size: 15px;
        font-weight: lighter;
        position: absolute;
        margin-top: -200px;
        margin-left: 80px;
    }
}

.about h5 {
    margin-bottom: 190px;
    margin-left: 80px;

}



.about a {
    text-decoration: none;
    color: white;
    margin-top: -160px;
    position: absolute;
    margin-left: 50px;

}

hr {
    border-top: 4px solid white;
    margin-top: -140px;
    width: 1890px;
}

.owlCarousel div{
    position: relative;
    display: flex;
    

}

.owlCarousel img{
    width: 100px;
    height: 100px;
    margin-top: -350px;
    margin-left: 190px;
}

.meet img{
    width: 200px;
    height: 200px;
    display: flex;
    margin-left: 140px;
}

#crew div{
    display: flex;
    
}
.textt h3{
    margin-left: 200px;
}