#head-site-area {
  background-color: black;
}

#head-site-area .my-container {
  width: 97%;
  height: 45px;
  background-color: black;
  margin-left: 23px;
}

#head-site-area p {
  color: white;
  padding-top: 8px;
}

#head-site-area .dropdown {
  padding-left: 20px;
}

#head-site-area .dropdown .btn {
  background-color: black;
  border-radius: none;
}

#head-site-area .dropdown .dropdown-menu span {
  padding-left: 10px;
}

#head-site-area .dropdown .dropdown-menu img {
  width: 30px;
  height: 30px;
}

#head-site-area .user {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

#head-site-area .user .shop-icon {
  width: 40px;
  height: 45px;
  border: 1px solid grey;
  position: absolute;
  right: 80px;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

#head-site-area .user sup {
  border-radius: 50%;
  font-size: 10px;
  padding: 4px;
  top: -15px;
  right: 5px;
  background-color: coral;
}

#head-site-area .user .shopping {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 8px;
}

#head-site-area .user .heart-icon {
  width: 40px;
  height: 45px;
  border: 1px solid grey;
  position: absolute;
  right: 40px;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

#head-site-area .user .heart {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 8px;
  top: 10px;
}

#head-site-area .user .user-img {
  width: 40px;
  height: 45px;
  border: 1px solid grey;
  position: absolute;
  right: 0;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

#head-site-area .user .heart {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 8px;
  top: 10px;
}

#head-site-area .user .user-img {
  width: 40px;
  height: 45px;
  border: 1px solid grey;
  position: absolute;
  right: 0;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

#head-site-area .user img {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 880px;
}

.navbar {
  background-color: #3134d3;
  height: 50px;
}

.navigation {
  height: 40px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 30px;
  line-height: 40px;
  background: #3134d3;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: #ff6325;
  color: #ffffff;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 5px;
  content: " ";
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #3134d3;
  height: 40px;
  width: 40px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 40px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.carousel-item img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  border-radius: 10px;
}

.carousel-item h5 {
  font-size: 80px;
  margin-bottom: 50px;
}

.carousel-item .button {
  border-radius: 5px;
  border-style: none;
  width: 50pxpx;
  height: 45px;
}

@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.carousel-control-prev {
  margin-top: 250px;
}

.carousel-control-next {
  margin-top: 250px;
}

.carousel-item {
  margin-top: 100px;
  width: 80%;
  margin-left: 200px;
}

@media (min-width: 992px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    -webkit-transform: translateX(33%);
            transform: translateX(33%);
  }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    -webkit-transform: translateX(-33%);
            transform: translateX(-33%);
  }
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  width: 60%;
  max-width: 380px;
  height: 150px;
}

.card .icon-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text span {
  opacity: 0.6;
}

.bannerr2 div {
  position: relative;
  overflow: hidden !important;
  margin: 0 auto !important;
}

.bannerr2 .texts-and-button {
  position: absolute;
  left: 20px;
  bottom: 60px;
  color: white;
}

.bannerr3 div {
  position: relative;
  overflow: hidden !important;
  margin: 0 auto !important;
}

.bannerr3 .texts-and-button {
  position: absolute;
  left: 20px;
  bottom: 60px;
  color: white;
}

.bannerr {
  position: relative;
  overflow: hidden !important;
  margin: 0 auto !important;
  padding: 0 !important;
}

#bannerr {
  padding: 70px 0;
}

#bannerr img {
  width: 100%;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.bannerr1 img {
  height: 514px;
  border-radius: 10px;
}

.bannerr1 .infinite .texts-and-button {
  color: white;
  position: relative;
  margin-top: -150px;
  left: 40px;
}

#bannerr .texts-and-button button {
  width: 120px;
  padding: 15px 0;
  border-radius: 10px;
  background-color: #FAFAFA;
  cursor: pointer;
  border: none;
}

.bannerr2 button {
  width: 150px;
  padding: 15px 0;
  background-color: white !important;
  cursor: pointer;
}

.bannerr2 .first .texts-and-button {
  top: 100px;
}

.bannerr2 .second .texts-and-button {
  left: 50px;
  bottom: 50px;
  right: 0;
}

.bannerr3 .first .texts-and-button {
  left: 20px;
  top: 100px;
}

.bannerr3 .second .texts-and-button {
  left: 40px;
  bottom: 20px;
  right: 0;
}

.first {
  background-color: white;
  padding: 10px 0;
  padding-top: 4px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.first img {
  width: 260px;
  height: 250px;
  border-radius: 10px;
}

.second img {
  height: 250px;
  border-radius: 10px;
}

#shop img {
  height: 480px;
  padding: 40px 0;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

#shop h4 {
  margin-top: -100px;
  position: relative;
  left: 30px;
  color: white;
}

#shop span {
  margin-top: -100px;
  position: relative;
  left: 30px;
  color: white;
}

.background-img {
  position: relative;
}

.img-wall {
  position: relative;
  margin-top: -700px;
  margin-left: 50px;
}

.img-wall img {
  border-radius: 10px;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

.newarrival p {
  margin-top: -300px;
  position: relative;
  margin-left: 700px;
  font-size: 60px;
  color: white;
}

.newarrival h1 {
  position: relative;
  margin-left: 400px;
  font-size: 70px;
  color: white;
}

.logo-slider {
  background: white;
  -webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 60px;
}

.logo-slider::before,
.logo-slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 175px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.logo-slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.logo-slider h1 {
  margin-left: 500px;
  padding-top: 130px;
}

.logo-slider::before {
  left: 0;
  top: 0;
}

.logo-slider .logo-slide-track {
  -webkit-animation: logo-scroll 60s linear infinite;
  animation: logo-scroll 60s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 14);
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.logo-slider .slide {
  height: 150px;
  width: 250px;
  padding: 20px;
}

@-webkit-keyframes logo-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes logo-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

.subscribe {
  background-color: #3134d3;
  color: white;
  padding-top: 270px;
}

h1 {
  margin-left: 700px;
  margin-top: -200px;
  font-size: 35px;
}

.subscribe span {
  margin-left: 700px;
}

.subscribe input {
  margin-left: 700px;
  margin-top: 20px;
  width: 400px;
  background-color: #3134d3;
  border-style: none;
  font-style: oblique;
  border-radius: 5px;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app i {
  margin-left: 200px;
  font-size: 40px;
}

.app h2 {
  margin-left: 250px;
  position: relative;
  margin-top: -36px;
}

.line {
  border-left: 1px solid black;
  height: 90px;
}

div.line {
  position: absolute;
  margin-bottom: 20px;
}

.about {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
}

.about h5 {
  color: white;
}

.about span {
  color: white;
  opacity: 0.8;
  font-size: 15px;
  font-weight: lighter;
  position: absolute;
  margin-top: -200px;
  margin-left: 80px;
}

.about h5 {
  margin-bottom: 190px;
  margin-left: 80px;
}

.about a {
  text-decoration: none;
  color: white;
  margin-top: -160px;
  position: absolute;
  margin-left: 50px;
}

hr {
  border-top: 4px solid white;
  margin-top: -150px;
  width: 1890px;
}

.navi_navi {
  height: 50px;
  background-color: #000000;
  position: absolute;
  z-index: 3;
}

.navi,
.menu_a {
  width: 100%;
}

.menu_li,
.menu_a {
  display: inline-block;
}

.menu_li {
  width: 25%;
  float: left;
  opacity: 0.8;
  text-align: center;
  height: 50px;
  background-color: #0f0f0f;
}

.menu_a {
  padding: 16px 0;
}

.menu_li:hover,
.menu_a:hover {
  background-color: #03A9F4;
  opacity: 1;
}

#menu-acces {
  display: none;
  width: 100%;
  position: relative;
  text-align: center;
}

.menu_open:after {
  content: "";
  display: table;
}
/*# sourceMappingURL=style.css.map */


@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}